.about-me {
  background: rgb(15, 15, 15);
  color: white;
  padding-top: 8%;
}

.sec-title {
  font-size: 60px;
  color: rgb(197, 60, 113);
}

.image {
  height: 250px;
  width: 250px;
  margin-top: 5%;
  border: black 1px solid;
  border-radius: 50%;
}

.abtme-story h1 {
  font-size: 40px;
}

.abtme-story h2 {
  font-size: 30px;
}

.abtme-story h3 {
  font-size: 25px;
}

.journey p {
  font-size: 20px;
  font-weight: bold;
  width: 700px;
  margin-left: 25%;  
}

.journey h3 {
  color: rgb(197, 60, 113); 
}