.intro {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* background: url("https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80"); */
  background: url("https://images.pexels.com/photos/1229862/pexels-photo-1229862.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  /* padding-top: 10%;  */
  /* margin-top: 6rem; */
}

.intro-container {
  background: rgba(0, 4, 12, 0.5);
  height: 100vh;
  width: 100vw;
  padding-top: 18%; 
}

.intro-txt {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.block {
  width: 0%;
  height: inherit;
  background: rgb(78, 3, 32);
  position: absolute;   
  animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  display: flex;
  }

.intro-txt h1 {
  font-family: 'Lato';
  color: rgb(240, 238, 238);
  font-size: 32px;
  -webkit-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}

span {
  width:0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgb(78, 3, 32);
  -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
  animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  /* margin-left: 5px; */
  /* margin-top: -10px; */
  position: absolute;
  bottom: 13px;
  right: -12px;
}

.role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-top: -10px;
}

.block {
  width: 0%;
  height: inherit;
  background: rgb(78, 3, 32);
  position: absolute;
  animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
  animation-delay: 2s;
  display: flex;
}

.role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 500;
  font-family: 'Lato';
  color: rgb(233, 222, 222);
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 60px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
    
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}
  
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}
  
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
    
  100% {
    opacity: 1;
  }
}
  
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: rgb(78, 3, 32);
    border: 1px solid black;
    opacity: 0;
  }
    
  50% {
    width: 10px;
    height: 10px;
    background: rgb(197, 60, 113);
    opacity: 1;
    bottom: 45px;
  }
    
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px
  }
    
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px
  }
    
  100% {
    width: 7px;
    height: 7px;
    background: rgb(197, 60, 113);
    border: 1px solid black;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
    
  100% {
    opacity: 0.5;
  }
}

.intro-list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 25px;
  font-family: "Lato";
  color: rgb(240, 236, 236);
  padding: 50px;
}

.intro-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 30px;
  padding-top: 5%;
}

.sm-link {
  padding: 2%;
  width: 3%;
}

.sm-link a {
  text-decoration: none;
  position: relative; 
  display: block;
  height: auto;
  width: auto;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: rgb(235, 233, 233);
  transition: .5s;
}

.sm-link a::before {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  border-radius: 50%;
  transition: .5s;
  transform: scale(.9);
  z-index: 1;
}

.sm-link a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(78, 3, 32);
}

.sm-link a:hover {
  /* color: rgb(78, 3, 32); */
  color: rgb(197, 60, 113);
  box-shadow: 0 0 5px rgb(78, 3, 32);
  text-shadow: 0 0 5px rgb(78, 3, 32);
}

@media only screen and (max-width: 700px) {


  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
  }

  .intro-txt {
    font-size: 30px;
    /* width: 100%; */
  }

  .intro-txt h1 {
    font-size: 30px;
    font-weight: bold;
  }

  .role p {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 60px;
  }

  .intro-list ul {
    font-size: 20px;
    font-weight: bold;
  }

  .sm-link {
    padding: 25px;
  }
}