.links {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(15, 15, 15);
  width: 100%;
  z-index: 2;
}

.links button{
  background-color: rgb(131, 2, 52);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: auto;
  font-size: 17px;
  font-weight: bold;
}

.links button:hover{
  background-color: rgb(148, 49, 87);
}

.nav-link{
  text-decoration: none;
  color: rgb(197, 60, 113);
}

.nav{
  display: flex;
  justify-content: center;
  padding-top: 2%;
  /* margin-top: 50px; */
}

.nav a {
  text-decoration: none;
  font-size: 17px;
  justify-content: space-evenly;
  color: white;
  padding: 0px 10px 0px 10px;
  font-weight: bolder;
}

.nav a:hover {
  color: rgb(197, 60, 113);
}

.header h1 {
  text-decoration: none;
  padding-left: 30px;
}

@media only screen and (max-width: 700px) {

  .links {
    display: flex;
    flex-direction: column;
  }

  .header h1 {
    font-size: 20px;
  }

  .nav a{
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: 16px;
    font-weight: bolder;
  }

  .links button{
    font-size: 16px;
    font-weight: bolder;
  }
}